<h1>Generation <%= @grid_data[:generation] %></h1>
<p>Board Dimensions: <%= @grid_data[:rows] %> rows x <%= @grid_data[:cols] %> columns</p>

<div style="font-family: monospace; line-height: 1.2;">
  <% @grid_data[:grid].each do |row| %>
    <p><%= row.map{ |col| col ? '*' : '.'}.join %></p>
  <% end %>
</div>

<canvas id="game-of-life" width="600" height="600" data-rows="<%= @grid_data[:rows] %>" data-cols="<%= @grid_data[:cols] %>" data-seed="<%= @grid_data[:grid] %>"></canvas>

<%= link_to "Upload Another File", new_path, class: "button" %>
