<%= form_for :board, url: boards_path do |form| %>
  <% if board.errors.any? %>
    <div class="alert alert-danger"><%= pluralize(board.errors.count, "error") %> has been found:
      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.file_field :grid_file, accept: "text/plain", required: true %>
  </div>

  <div>
    <%= form.submit class: "btn btn-light fw-bold border-white " %>
  </div>
<% end %>
