<%= render @board %>

<div class="mt-5 mb-5">
  <canvas id="board"
          class="gol-board"
          data-board-id="<%= @board.id %>"
          data-cols="<%= @board.cols %>"
          data-rows="<%= @board.rows %>"
          data-gen="<%= @board.generation %>"
          data-session-id="<%= SecureRandom.uuid %>"
  ></canvas>
</div>

<div class="mb-5">
  <button id="btn-reset" class="btn btn-outline-light fw-bold" style="margin-right: 10px">Reset</button>
  <button id="btn-start" class="btn btn-light fw-bold border-white bg-white">Start</button>
  <button id="btn-stop" class="btn btn-light fw-bold border-white bg-white">Stop</button>
</div>


<div>
  <%= link_to "Back to boards", boards_path %>
</div>
<div class="mt-5">
  <%= button_to "Destroy this board", @board, method: :delete, class: "btn btn-danger fw-bold " %>
</div>

<%= javascript_include_tag "gol" %>
