<!DOCTYPE html>
<html class="h-100" data-bs-theme="dark" lang="en">
  <head>
    <title><%= content_for(:title) || "Gol Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "cover" %>

    <meta name="theme-color" content="#712cf9">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"><a href="/" style="text-decoration: none; color: white">Game of life</a></h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <%= button_to "Logout", destroy_user_session_path, class: "nav-link fw-bold py-1 px-0", method: :delete if user_signed_in? %>
          </nav>
        </div>
      </header>

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <main class="px-3">

        <%= yield %>

      </main>

      <footer class="mt-auto text-white-50">
        <p>Game of life made by <a href="https://patrix252.dev" class="text-white">@patrix252</a>.</p>
      </footer>
    </div>

  </body>
</html>
